.max-width {
  max-width: 1100px;
  margin: 0px auto;
}

.absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cur-po {
  cursor: pointer;
}

.collection-title {
  font-size: 30px;
  color: var(--heading-text);
  margin-bottom: 32px;
  font-weight: 600;
}

.slick-next,
.slick-prev {
  height: 25px;
  width: 25px;
}

.delivery-collections .slick-next,
.delivery-collections .slick-prev {
  top: calc(50% - 15px);
}

.slick-next {
  right: -30px;
}

.slick-prev {
  left: -35px;
}

.slick-next:before,
.slick-prev:before {
  color: var(--gray);
  font-size: 25px;
}
